/__pycache__
.env
.env
*.png
*.pth
*.png
*.pth
/audio/__pycache__
/conversation/__pycache__
/core/__pycache__
/eeg/__pycache__
/rl/__pycache__
/ui/__pycache__
/utils/__pycache__
/logs
/logs
*.json
models/session_summary_20250718_184054.json
/therapy/__pycache__
rl/.DS_Store
.DS_Store
